<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Zargam_ChangeOrderStatusColor::manage_order_status_background_color" title="Manage Order Status BG Color" translate="title" sortOrder="900">
                        <resource id="Zargam_ChangeOrderStatusColor::order_status_background_color" title="Order Status Update Background Color" translate="title">
                            <resource id="Zargam_ChangeOrderStatusColor::order_status_background_color_save" title="Save" translate="title"/>
                            <resource id="Zargam_ChangeOrderStatusColor::order_status_background_color_delete" title="Delete" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
