<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Zargam\ChangeOrderStatusColor\Model\ResourceModel\OrderBgColor\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">order_bg_color_change</argument>
            <argument name="resourceModel" xsi:type="string">Zargam\ChangeOrderStatusColor\Model\ResourceModel\OrderBgColor</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="zargam_change_order_status_color_orderbgcolor_listing_data_source" xsi:type="string">Zargam\ChangeOrderStatusColor\Model\ResourceModel\OrderBgColor\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
