<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="change_order_status_color" frontName="change_order_status_color">
            <module name="Zargam_ChangeOrderStatusColor"/>
        </route>
    </router>
</config>
